<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collect Your Ticket| Travel From Trace</title>
    |<link rel="stylesheet" href="ticket.css">

   
</head>

<body>
    <input type="button" id="print" value="Print this page" onClick="window.print()" style="padding:10px;">
  
    <div class="ticket" id="ticket1">

        <img src="/public/img/bus_img.png" alt="logo" width="900px" >
        <div class="data" id="targetDiv" >
            |<h2>Trace Bus Service</h2>
            |<div class="name">Name: #{name}</div>
            |<div class="age">Age : #{age}</div>
            |<div class="email">Email : #{email}</div>
            |<div class="number">Number : #{number}</div>
            |<div class="date">Date : #{date}</div>
            |<div class="no">Bus Number : #{bus_number}</div>
            |<div class="barcode"><img src="/public/img/barcode2.jpg" alt="" width="100px"></div>
           
        </div>
    </div>
   
</body>

</html>